[submodule "submodules/cva6"]
	path = submodules/cva6
	url = git@github.com:openhwgroup/cva6.git
[submodule "submodules/darkriscv"]
	path = submodules/darkriscv
	url = git@github.com:joanvyc/darkriscv.git
	branch = dev
